*{
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
}
/* header{
    background-color: gray;
} */
nav{
    
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}
ul{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}
li{
    list-style: none;
}
ul li a{
    text-decoration: none;
}
.logo{
    color: #fd6e0a;
    font-size: 32px;
    font-weight: bold;
}
 /* Common button */
 .common{
        background-color: #fd6e0a;
        padding: 10px 20px;
        border-radius: 12px;
        font-weight: bold;
        font-size: 20px;    
        color: white;
        border: none;
        cursor: pointer;
 } 
 .container{
    max-width: 1200px;
    margin: auto;
 }
 .hero-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
 }
 .left h2{
    font-weight: bold;
    font-size: 35px;
    margin-bottom:12px ;
 }
 .left .p1{
    font-weight: semi-bold;
    font-size: 25px;
 }
 .outline{
    background-color: white;
        padding: 10px 20px;
        border-radius: 12px;
        font-weight: bold;
        font-size: 20px;    
        color: #fd6e0a;
        border:2px solid #fd6e0a;
        cursor: pointer;
 }
 .hero-button{
    margin-top: 12px;
    
 }
.hero-root{
    background-color: #fff8f3;
}
img{
    max-width: 100%;
}
    .about-parent{
        background-color: #fff8f3;
        margin: 70px auto;
        border-radius: 10px;
        padding: 50px;
        text-align: center;
    }
    .about-parent p{
        margin: 10px 0;
    }
    .box-parent{
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
    .box-parent div{
        margin-top: 15px;
        background-color: #f7eee6;
        padding: 5px;
        border-radius: 5px;
    }
    .what-parent{
        margin: 50px auto;
        text-align: center;
    }
    .card-parent{
        margin-top: 30px;
        display:flex;
        justify-content: space-between;
        gap: 20px;
    }
    .card{
        border: 2px solid #f7eee6;
        padding: 10px;
        border-radius: 8px;
        text-align: left;
    }
    .card p{
       color: #757575; 
       font-size: 16px;
    }
    .card h2{
        margin:10px auto ;
    }
    .summary-parent{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .resume-parent h2{
        text-align: center;
        margin-bottom: 40px;
    }
    .education .items{
        margin: 15px auto;
        
    }
    .experience .items{
        margin: 50px auto;
        
    }
    .experience{
        border: 2px solid #f7eee6;
    }
    .education{
        border: 2px solid #f7eee6;
    }
    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        gap: 10px;
    }
    .education p,.experience p{
        color: #757575; 
       font-size: 16px;
    }
    .gallery-parent{
        margin-top: 30px;
        text-align: center;
    }
    .gallery{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin-top: 30px;
        gap: 12px;
        grid-auto-rows: 250px;
        grid-template-areas:
         "one two three"
        "four two six"
        "four five six";
    }
    .gallery img{
        height: 100%;
        width: 100%;
        object-fit: cover;

    }
    .box-1{
        grid-area:one ;
    }.box-2{
        grid-area: two;
    }.box-3{
        grid-area: three;
    }.box-4{
        grid-area: four;
    }.box-5{
        grid-area:five ;
    }.box-6{
        grid-area:six ;
    }
    footer{
        text-align: center;
        margin-top: 80px !important;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: space-between;
        gap: 15px;
        background-color: #fff8f3;
        padding: 20px;
        border-radius: 10px;

    }
    footer form input,footer form textarea{
        border:none ;
        outline: none;
        background-color: white;
        padding: 8px 15px;
        border-radius: 10px;
        display: block;
        width: 100%;
        margin-bottom: 12px;
    }
    footer form{
        padding: 12px;
    }
    .footer-left p{
        margin: 15px 0;
    }